<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue.js Intro</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="calculator.js" defer></script>
    <style>
    .changeText {
      color: rgb(21, 255, 0);
      transition: color 4s ease;
    }
  </style>
  </head>
  <body>
    <div id="app">
      {{ message }}
      <div id=>
        1st number:
        <input type="text" v-model="number1"  />
      </div>
      <div id=>
        2nd number:
        <input type="text" v-model="number2" />
      </div>
      <div id=>
        3rd number:
        <input type="text" v-model="number3" />
      </div>
      <div v-on:click="add"><button>Compute sum</button></div>
      <p>The sum is: {{ sum }} </p>
      {{ showSecret }}
      <hr></hr>
      <div v-bind:class="{changeText: showSecret}"> Today is the day of suns. SunDaY </div>
      <button v-on:click="changeSecret"> Click Me To Show The Secret Message </button>
      <hr>
      <div>
      <ol>
        <li v-for="cookie in cookies">{{ cookie }}

        </li>
      </ol>
      </div>
      <input type = "text" v-model = "newCookie" >
      <button v-on:click="addCookie">Add Cookie</button>
      <button v-on:click="removeCookie">Delete Cookie</button>
      <hr>
      <button v-on:click= "loadTodos" >Load Todos</button>
      <div v-if =  "toggle" v-for= "todo in todos">
        {{todo.id}}. {{ todo.title }}
       </div>
  </body>
</html>
