<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue.js Intro</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="calculator.js" defer></script>
  </head>
  <body>
    <div id="app">
      {{ message }}
      <div id=>
        1st number:
        <input type="text" v-model="number1"  />
      </div>
      <div id=>
        2nd number:
        <input type="text" v-model="number2" />
      </div>
      <div id=>
        3rd number:
        <input type="text" v-model="number3" />
      </div>
      <div v-on:click="add"><button>Compute sum</button></div>
      <p>The sum is: {{ sum }} </p>
    </div>
    <p v-if="false"></p>
  </body>
</html>
